# DATASCI S11 Final Project CBMS Dataset 
### By : Amiel James Bornales, Jonn Ralge Yuvallos

In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import folium
from folium.plugins import HeatMap

%matplotlib inline

doot noot


locs: Indicates brgy within
we need brgy loc

### For faster loading of the dataframe

In [4]:
df_cols = ['mainid', 'hpq_memid', 'memno', 'nucfam', 'reln', 'reln_o', 'sex',
       'birth_date', 'age', 'age_yr', 'birth_reg', 'civstat', 'ethgrp',
       'ethgrp_o', 'ofw', 'mlenresid', 'country_resid', 'country_resid_o',
       'prov_resid_code', 'mun_resid_code', 'brgy_resid_code', 'mun_resid_txt',
       'brgy_resid_txt', 'educind', 'gradel', 'sch_type', 'gradel_calc',
       'ynotsch', 'ynotsch_o', 'educal', 'psced7', 'course_o', 'literind',
       'regvotind', 'voted_last_election', 'jobind', 'entrepind', 'njob',
       'occup', 'psoc4', 'indust', 'psic4', 'jstatus', 'work_ddhrs',
       'work_wkhrs', 'fadd_work_hrs', 'fxtra_wrk', 'workcl', 'fjob',
       'first_fjob', 'jsearch_meth', 'jsearch_meth_o', 'wks_fjob',
       'ynotlookjob', 'ynotlookjob_o', 'lastlookjob', 'joppind', 'wtwind',
       'wagcshm', 'wagkndm', 'sss_ind', 'pregind', 'solo_parent', 'pwd_ind',
       'pwd_type', 'pwd_type_o', 'pwd_id', 'scid_ind', 'mcrimeind',
       'mtheftind', 'mrapeind', 'minjurind', 'mcarnapind', 'mcattrustlind',
       'mocrimind', 'mocrim', 'mtheftloc', 'mrapeloc', 'minjurloc',
       'mcarnaploc', 'mcattrustlloc', 'mocrimloc', 'mnutind', 'mnutind_date']
d_type = ['int64','int64','float64','int64','int64','str','int64','str',
          'float64','int64','int64','int64','str','str','float64','float64',
          'str','float64','str','str','str','str','str','float64',
          'float64','float64','int64','float64','str','float64','str','float64',
          'float64','float64','float64','float64','float64','int64','str','object',
          'str','str','float64','float64','float64','float64','float64','float64',
          'float64','float64','float64','str','float64','float64','str','float64',
          'float64','float64','float64','float64','float64','float64','float64','float64',
          'float64','str','float64','float64','float64','float64','float64','float64',
          'float64','float64','float64','str','float64','float64','float64','float64',
          'float64','float64','float64','str']
dtypes = dict(zip(df_cols, d_type))

In [5]:
df = pd.read_csv('data/hpq_mem.csv', dtype = dtypes)
df.head(5)

,mainid,hpq_memid,memno,nucfam,reln,reln_o,sex,birth_date,age,age_yr,...,mocrimind,mocrim,mtheftloc,mrapeloc,minjurloc,mcarnaploc,mcattrustlloc,mocrimloc,mnutind,mnutind_date
0,55958,0,1.0,1,1,NaN,1,12/1/1984,27.08282,27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,55960,2,3.0,1,3,NaN,2,2/12/1996,18.26420,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,55960,0,1.0,1,1,NaN,2,8/31/1962,51.71526,51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,55960,3,4.0,1,3,NaN,2,8/9/1997,16.77481,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,55960,1,2.0,1,2,NaN,1,6/15/1964,49.92471,49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df.columns

Index(['mainid', 'hpq_memid', 'memno', 'nucfam', 'reln', 'reln_o', 'sex',
       'birth_date', 'age', 'age_yr', 'birth_reg', 'civstat', 'ethgrp',
       'ethgrp_o', 'ofw', 'mlenresid', 'country_resid', 'country_resid_o',
       'prov_resid_code', 'mun_resid_code', 'brgy_resid_code', 'mun_resid_txt',
       'brgy_resid_txt', 'educind', 'gradel', 'sch_type', 'gradel_calc',
       'ynotsch', 'ynotsch_o', 'educal', 'psced7', 'course_o', 'literind',
       'regvotind', 'voted_last_election', 'jobind', 'entrepind', 'njob',
       'occup', 'psoc4', 'indust', 'psic4', 'jstatus', 'work_ddhrs',
       'work_wkhrs', 'fadd_work_hrs', 'fxtra_wrk', 'workcl', 'fjob',
       'first_fjob', 'jsearch_meth', 'jsearch_meth_o', 'wks_fjob',
       'ynotlookjob', 'ynotlookjob_o', 'lastlookjob', 'joppind', 'wtwind',
       'wagcshm', 'wagkndm', 'sss_ind', 'pregind', 'solo_parent', 'pwd_ind',
       'pwd_type', 'pwd_type_o', 'pwd_id', 'scid_ind', 'mcrimeind',
       'mtheftind', 'mrapeind', 'minjurind', 'mcarnapind', 'mcattrustlind',
       'mocrimind', 'mocrim', 'mtheftloc', 'mrapeloc', 'minjurloc',
       'mcarnaploc', 'mcattrustlloc', 'mocrimloc', 'mnutind', 'mnutind_date'],
      dtype='object')

In [23]:
df['brgy_resid_txt'].unique()

array([nan, 'Sta Cruz', 'barangka', 'Sta Mesa', 'oriental', '1',
       'maypajo', 'pimentel', 'dariwdiw', 'san pascual', 'macario',
       'sibalo', 'bangkal st.', 'hindi alam', '121', 'san isidro',
       'Tabing bakod', 'bagong tubig', 'concepcion', 'baclaran',
       'san jose', 'bagumbayan', 'BALAYANG', 'balayang', 'alegria',
       'bangkal', 'barangay 843', 'barangay 844', 'barangay 842',
       'barangay 10', 'burol', 'bacoor', 'baesa', 'tilod', 'barangay 2',
       'brangay 2', 'lipa', 'lip', 'casim', 'Brgy.157, Malibay',
       'Rosario', 'Libertad', 'Vito Cruz', 'san nicolas', 'poblacion',
       '155', 'none', 'san andres', 'yocti', 'malibay', 'palta Big',
       'san rafael buhi', 'tarlac', 'la paz', 'paco', 'bagong sikat',
       'pag-asa', 'brgy tikay', 'brgy salitran', 'nueva victoria',
       'balibago', 'dapitan', 'balagtas', 'brgy 1 (pob)',
       'barangay 1(pob)', 'kamuning', 'talahid', 'barangay 21',
       'san miguel', 'san juan', 'don ramon', 'bagongbong', 'arguelles',
       'del pilar', 'daraga', 'burgos', 'sta ana', 'San Vicente',
       '442 rizal ave', 'barangay 13', 'santan st kalawaan', 'apas cebu',
       'e cornejo', 'sta barbara', 'sivilla', 'dalumpinas', 'bulualto',
       'molave', 'balingasa', 'camantigue st maricaban', 'barangay 179',
       'matapat st', 'malibay E rodriguez st', 'E rodriguez malibay',
       '166', 'Baclaran', '137', '159', 'Brgy 159', '175', '171',
       'Paliparan', 'Palar', '162', 'Guadalupe', '163', 'Nabua', '-',
       'Talaba', 'damayanlagi', '135', 'nabua', 'Sta.Maria', '161',
       'barangay 161', 'Barangay 161', 'fti', 'pandacan', 'carmona',
       'pili', 'aurora', 'san carlos', 'Gogon', 'Golden city', '174',
       'tignoan', '169', 'st. frances', '177', 'dodan', 'pagalunan',
       'santoÃ±io', 'libis', '172 Geronimo st.', 'b', 'Brgy 173', '173',
       '76', 'tabi gubat', '139', '168 santa cruz manila', 'roxas city',
       '176', 'camarines sur', 'sigma', 'malibay 174', 'pulang lupa',
       'san marino', 'dauin', '335 zone 31', 'brgy tambo', '53 tramo',
       '53', 'brgy legarda sampaloc',
       'interion 10 bernavides street.sta cruz',
       'interion10,bernavides street,sta cruz', 'San Fernando Norte',
       '114/Dimasalang', '114 / Dimasalang', '98', 'rosario', 'fairview',
       'Inupacan', 'Escalante', 'San Rafael', 'Aborlan',
       'St.Teresa, Maricaban', 'Anabu II', 'Triumph,Zone 1',
       'alponso tolentino', '122', 'barangay 122', '135 vizcarra',
       'tandangsora', 'kabankalan', 'usab', '134', '134 magtibay',
       'tramo', 'tayuman', 'Tayuman', '165', '158', '748', 'barangay 163',
       'Pinagkaisahan', 'Pinag kaisahan', 'Agpipili', 'Brgy 163',
       'Balbagin', 'balbagin', 'brgy 169 viscarra', 'brgy 169 viscara',
       'brgy 169 . viscara st', '169 viscara', 'tandang sora',
       'kaytitinga 1 alfonzo', 'nordern publacion', '178',
       'tenejeros/sanchez st.', 'brgy commonwealth', 'commonwealth',
       'libis baesa', 'Barangka Drive Boni', '172', '181', '143',
       'San antonio', 'Sitio', 'gogon', 'pembo', 'wester bicutan',
       'Sta. Ana', '546', 'Barangay 1', 'Barangay Talisay',
       'Barangay Tumana', 'San Jose', 'san Jose', 'Linao', '190',
       'Sto. Nino, Brgy. 145', 'Barangay 190, Don Carlos Village',
       'Don Carlos Village, Brgy. 190', 'Barangay 187', 'Barangay 190',
       'don galo', 'San vicente', 'Cubao', 'Pembo', 'Bagong silang',
       'Bagong Silang', 'Balod', 'pagkakaisa', 'Maroqillo', 'Manuyo 1',
       'San Antonio', 'Barangay 166 C.Jose', 'Barangay Signal',
       'Rizal pembo', 'palanan', 'ginsanghay', 'naga naga',
       'san aurelio 3rd', '26', 'quezon city', 'san dionisio', '79',
       '187', 'nakalimutan na', 'malalag street', '131', '188', 'Mexico',
       'Sto. nino, brgy. 145', '145', 'Sto. Nino St., Brgy. 145',
       'bicutan', 'Alicia', 'Bocandala', 'Talundos', 'Conteberda',
       'Barangay Canabay', 'Udtol', 'Budtol', 'Bolinao', 'Kusina',
       'Villa', '196', 'Pildera', 'sucat', 'Tandang Sora', 'Barangay 183',
       '128', 'pasaytaft', 'Canbagdroy', 'Bagong Barrio', 'Juban', 'MCU',
       'Brgy. Sto. Domingo', 'San Roque', 'n8ne', '11', '186', 'Delpan',
       'Alabang', 'cubao', 'Malate', 'Barangay 75', 'Barangay 92',
       'malate', 'Barangay 89', 'Barangay MBVS', 'Tamayo', 'Balite',
       'La Carlota', 'Sto NiÃ±o', 'Cibulano', 'tambo', 'Sum-ag',
       'Barangay 80', 'Barangay 91', 'salvacion', 'Signal', '201', '0',
       '999', 'San roque', 'Calabacita', 'malitbugay', 'Don bosco',
       'Santa Rita', 'salitran', 'Baloling', 'Bago', 'Hanahawan', '142',
       'San miguel', 'San Miguel', 'falmarez st,', 'Mandalagan', 'sigcay',
       'sinarawan', 'quiling', 'evangelista', 'looc', 'mayamot',
       'plainview', 'almanza 2', 'brgy sta.cruz', 'brgy sto.niÃ±o',
       'brgy valenzuela rizal village', 'brgy peÃ±a',
       'tolentino st malibay', 'brgy isbacbac', 'brgy paras',
       'Barangay Baldios', '58', 'road1', 'Road 1', '72', '120',
       'Brgy. 184', 'moonwalk', 'Labo', 'inuncan', 'villamor',
       'libis baisa', 'villa merzedez', 'Turak', 'turak', 'limay', '157',
       'sanjuan', 'binalay', 'casiligan', 'silang', 'parada gubat',
       'botocan', 'babag 2', 'purok13 daang hari', 'dela paz',
       'p.villanueva', 'east rembo', '179', '180', 'tengco', 'sua', 'pb1',
       'bagong buhay', 'bocana', 'banaybanay', 'kay pian',
       'silangan malicboy', 'apelo extension', 'oda', 'bitas', '197',
       '168', 'quinagabian', 'Brgy Fairview', 'Brgy fairview', 'Bangkal',
       '184', 'Brgy Tondo', 'Macanaya', 'Barangay Pateros',
       'Western Bicutan', 'Maragondon', 'Banlat', 'Barangay Silverio',
       'taft', 'ermita', 'Baltao Rd. Barangay 197', 'quiapo', 'tabina',
       'port area', 'Sagkahan', 'Abango', '208', 'barangay 166',
       'Don galo', '12', 'Manuyo 2', '45', 'brgy. 58', 'Tambo',
       'Garita A', '-----', 'Balik-balik', 'Pagsanghan', 'Lugam', '---',
       'Morayta', 'sa isidro', 'sta elena', 'pangpang', 'sto nino',
       'libertad', 'Kidawis', '109', 'D. Reyes st.', 'salawag', 'brgy27',
       'brgy39', 'talaba', 'Tondo', 'san roque', 'tondo', 'san luis',
       'Sta Monica', 'venanilla st', 'ventanilla st', 'orenbo', 'x',
       'm dela cruz', 'Palanan', 'Santa Fe', 'Maayon', 'Calbayog',
       'Lower Bicutan', 'Lower bicutan', 'Barangay Bangkal', 'kawayan',
       'brgy gomez', 'Arpapa D-Gomez, Baryo Obrero', 'P-Del Rosario',
       'Calit-calit', 'Mangoso', '191', '70', 'Floodway', '1618 Zone 16',
       '464 Zone 46', '99', 'East Rembo', 'Kastila Sitte', 'San Isidro',
       '.', 'Upper Bicutan', 'Brgy San Isidro', 'Dimaculangan',
       '117 Hembrador', '117Hembrador', 'Fb Harrison', '113 Vergel',
       'Makati', 'Manila', 'Dimapait', 'Bued Calasaio', 'Consolacion',
       'Samar', 'Tuburan', 'Catagbacan', 'Langgam', 'Dimapulaan',
       'Bued Calasiao', 'Iba', 'Malagauos', 'San Benito', 'Polo',
       'Laoag City', 'Tagum', 'Roxas', 'Pangadian', 'Kalabo', 'Iligan',
       'Villa NuÃ±ez', 'Times Spirig', 'Timog', 'Laoag', 'Palo Palo',
       'Tenement', 'Dimapula', 'Pulang Bato', 'Malagansa', 'Ligas',
       'San Juaquin', 'San Jaquin', 'Dimakulangan', 'dimakulangan',
       'dimakulangn', 'San Fernando', 'San Pablo', 'Laram',
       'Pnr tenement', 'Giguinto', 'Couangco', 'Jolo', 'Antongayon',
       'Rizal', 'Mambog 3', 'Mapayan', 'Ugong', 'Project 4',
       'western bicutan', 'Luciana', 'Carbat', 'Tampo', 'Look', 'Galang',
       'Kamagong', 'Baybay', 'Sariaya', '160', 'san juanico',
       'san antonio', 'area D', 'Payatas', 'Nothern Catarman',
       'nothern Catarman', '135 Osmena highways, Paco',
       '1935 Osmmena Highways, Paco', 'San Dionisio',
       'Barangay San Dionisio', 'Cantabaco', 'Malibay', 'Maricaban',
       '140', '183', 'Leveriza', 'M.Dela Cruz', 'Gen.Trias',
       'Trece Cavite', 'Silang Cavite', 'Bued Calisaio', 'Apalit',
       '117 zone 14', 'Pitugo', 'barangay 26', 'Sagana',
       'Camachili San Valley', 'Barangay Pio', 'Mamatid', 'Barangay 66',
       'estrella', 'sta cruz', 'sta. cruz', 'potatan st', 'Baua Gonzaga',
       'Centro', 'Dian Palanana', 'Cordura', 'brgy 77', 'bangka bangka',
       'maipon', 'Pamplona', '194', '193', 'Alimunan', 'Peldera',
       'Pinagsama', 'Peldira', 'Pio del Pilar', 'Pio Del Pilar',
       'Olenfia', 'Kabayan', 'Almansa 2', 'Bilog Bilog', 'Binubusan',
       'Perla', 'Ajong', 'Tabucan', 'olivares', 'Natatas', 'Washington',
       'A Santos brgy. Tijeros', 'Park Lane Country Homes', 'Boni',
       'Bangcal', '56', 'Mabato -bato', 'Centry Site', 'Mambugan', '127',
       '358 Magallanes', '358 Magallanes st.', 'Maguyam', 'Mampirad',
       'Mayanao', 'Mampirao', 'Bangao', 'Ayungan', 'M Dela Cruz',
       'La Nieves', 'Blessed Vill', '200', 'San valley', 'San Valley',
       'PeÃ±a Plata', 'Sto.NiÃ±o', 'Patag', 'Calumpang', '126', 'm reyes',
       'Sun Valley', 'Brgy. Sto. NiÃ±o', 'Novaliches', 'Sibagay',
       'Kabagan', 'Mabalacat', 'Cilay', 'Zapote,Pamplona 1', 'Toledo',
       'san perdo', 'marcos', 'Zone 10 -A', 'Salong', 'Progreso',
       'Mary Cris Complex', 'San Dionsio', 'Brgy. Poblacion',
       'Brgy.Poblacion', 'Brgy.Gines Patag', 'Gatbuca', 'Barangay 310',
       'Barangay Malaya', 'Barangay Alaklan', 'Ilog Malino',
       'Barangay Toklong', 'Barangay Tatalon', 'Buhay Na Lupa', 'Tutoban',
       'Kalentong', 'Quirino', '136', 'Alaminos', 'Salug', 'Nankilam',
       'Brgy. Butucan project 8', 'Brgy. 197', 'amalabay',
       'Barangay Kalagane', 'Barangay Kalangane', 'Longos,Zapote 5',
       'Barangay Sta.Catalina', 'Barangay Dipotae', 'Kabihashan',
       'Kabihasnan', 'Barangay Danpel', 'Barangay Sibagay',
       'Barangay Moson', 'angadanan', 'samar', 'kambong',
       'Barangay Delkato', 'Barangay Polug', '--', 'Frisco', 'Sto. NiÃ±o',
       'Barangay Burabura', 'Tejero', 'Barangay Darnorte', 'Silverio',
       'Hamorawon', 'Barangay Tabe', 'Southern', 'Pag asa',
       'Barangay Almanza', 'Talaba ll', 'Barangay San Isidro',
       'Barangay Sun Valley', 'unknown', 'west crame', 'daang bukid',
       'Arrab', 'ususan', 'kadaklan', 'zamora', 'Ilaya', 'i will hills',
       'calobaoan', 'pamplona', 'delos santos', 'floodway', 'taray',
       'pacita', '124', 'Salawag', 'tungko', 'basud', 'palapag',
       'manggahan', 'Rivera', 'rivera', '----', 'Ermita', 'Capipiza',
       'Santa Monica', 'Mother Ignacia', 'Barangay 108', 'j luna', '___',
       '__', 'Sikatuna', 'Arkong Bato', 'Umboy', 'Bagbag 2', 'novaliches',
       'Santo Cristo', 'San Carlos', 'tolentino', 'J Luna', '94',
       'alabang', 'sampaloc', 'Bolo', 'pulang bato', 'Matatalaib',
       'Hagdang Bato', 'Guindag an', 'Vaseca', 'Silang', 'Vasela',
       'Barangay Pamplona', 'Barangay Leveriza', 'Pablo',
       'Barangay Bidea', 'Barangay Roxas', 'Cagbilwang',
       'Barangay Sta.Lucia', 'purok 2', 'Barangay Pulang Bato', '185',
       'Bidea', 'Maligaya', 'San Juan', '95'], dtype=object)

### Get all indeces of brgys in Pasay
Because theres a lot of barangays there that isnt in pasay

In [10]:
df_brgy_notnull = df[df['brgy_resid_txt'].notnull()]
df_brgy_notnull.head(5)

,mainid,hpq_memid,memno,nucfam,reln,reln_o,sex,birth_date,age,age_yr,...,mocrimind,mocrim,mtheftloc,mrapeloc,minjurloc,mcarnaploc,mcattrustlloc,mocrimloc,mnutind,mnutind_date
5,55962,2,3.0,1,4,NaN,1,6/1/1970,43.967140,43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,55962,1,2.0,1,3,NaN,2,6/24/1970,43.904170,43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,55962,0,1.0,1,1,NaN,1,5/12/1946,68.021900,68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,55962,5,6.0,1,3,NaN,1,12/1/1978,35.466120,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,55962,4,5.0,1,5,NaN,2,4/21/2010,4.079398,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1/1/2014

In [11]:
df_brgy_notnull = df_brgy_notnull.reset_index()
df_brgy_notnull = df_brgy_notnull.drop('index', axis = 1)
df_brgy_notnull.head(5)

,mainid,hpq_memid,memno,nucfam,reln,reln_o,sex,birth_date,age,age_yr,...,mocrimind,mocrim,mtheftloc,mrapeloc,minjurloc,mcarnaploc,mcattrustlloc,mocrimloc,mnutind,mnutind_date
0,55962,2,3.0,1,4,NaN,1,6/1/1970,43.967140,43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,55962,1,2.0,1,3,NaN,2,6/24/1970,43.904170,43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,55962,0,1.0,1,1,NaN,1,5/12/1946,68.021900,68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,55962,5,6.0,1,3,NaN,1,12/1/1978,35.466120,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,55962,4,5.0,1,5,NaN,2,4/21/2010,4.079398,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1/1/2014

In [12]:
pasay_brgy_ind = []
ind = 0
for brgy in df_brgy_notnull['brgy_resid_txt']:
    temp = [int(s) for s in brgy.split() if s.isdigit()]
    if len(temp)>0 and temp[0] <= 201 and temp[0] >= 1:
        pasay_brgy_ind.append(ind)
    ind+=1

In [75]:
df_brgy_notnull['brgy_resid_txt'].loc[pasay_brgy_ind]

9                             1
10                            1
24                          121
48                  barangay 10
55                   barangay 2
56                    brangay 2
57                   barangay 2
80                          155
108                brgy 1 (pob)
112                 barangay 21
143                           1
144                 barangay 13
159                barangay 179
163                         166
167                         137
168                         137
169                         159
170                         159
171                         159
172                         159
173                    Brgy 159
177                         175
178                         175
179                         175
180                         175
181                         175
182                         175
183                         171
184                         171
185                         171
                 ...
1943                        136
1944                        136
1946                        136
1950    Brgy. Butucan project 8
1968                  Brgy. 197
1983            Longos,Zapote 5
1984            Longos,Zapote 5
2086                        191
2087                        191
2101                          1
2102                          1
2106                        177
2107                        165
2110                        178
2116                        124
2173               Barangay 108
2174               Barangay 108
2175               Barangay 108
2209                   Bagbag 2
2266                         94
2352                    purok 2
2354                        185
2371                        185
2373                        185
2374                        185
2375                        185
2376                        185
2389                         95
2390                         95
2391                         95
Name: brgy_resid_txt, Length: 373, dtype: object

In [17]:
pasay_brgys = range(1,202)

1

# The PNP Dataset
yeet

In [89]:
df_pnp = pd.read_csv('data/PNP_data.csv')
df_pnp.head()

,Count of OFFENSES,Column Labels,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Row Labels,ATTEMPTED HOMICIDE(PERSONS),ATTEMPTED MURDER(PERSONS),ATTEMPTED PARRICIDE(PERSONS),ATTEMPTED RAPE (Art. 266-A RC & R.A.8353)(PERS...,ATTEMPTED ROBBERY(PROPERTY),ATTEMPTED THEFT(PROPERTY),CONSUMATED ANTI-CARNAPPING ACT (R.A. 6539) MC(...,CONSUMATED ANTI-CARNAPPING ACT (R.A. 6539) MV(...,CONSUMATED HOMICIDE(PERSONS),CONSUMATED MURDER(PERSONS),CONSUMATED PHYSICAL INJURIES(PERSONS),CONSUMATED RAPE (Art. 266-A RC & R.A.8353)(PER...,CONSUMATED ROBBERY(PROPERTY),CONSUMATED THEFT(PROPERTY),FRUSTRATED HOMICIDE(PERSONS),FRUSTRATED MURDER(PERSONS),QUALIFIED THEFT(PROPERTY),SERIOUS PHYSICAL INJURIES(PERSONS),Grand Total
1,Barangay 1,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,Barangay 10,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,1,1,NaN,NaN,NaN,3
3,Barangay 100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,NaN,NaN,NaN,NaN,2
4,Barangay 101,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,2

In [90]:
df_pnp_cols = df_pnp.iloc[0].tolist()
df_pnp_cols

['Row Labels',
 'ATTEMPTED HOMICIDE(PERSONS)',
 'ATTEMPTED MURDER(PERSONS)',
 'ATTEMPTED PARRICIDE(PERSONS)',
 'ATTEMPTED RAPE (Art. 266-A RC & R.A.8353)(PERSONS)',
 'ATTEMPTED ROBBERY(PROPERTY)',
 'ATTEMPTED THEFT(PROPERTY)',
 'CONSUMATED ANTI-CARNAPPING ACT (R.A. 6539) MC(SPECIAL LAWS)',
 'CONSUMATED ANTI-CARNAPPING ACT (R.A. 6539) MV(SPECIAL LAWS)',
 'CONSUMATED HOMICIDE(PERSONS)',
 'CONSUMATED MURDER(PERSONS)',
 'CONSUMATED PHYSICAL INJURIES(PERSONS)',
 'CONSUMATED RAPE (Art. 266-A RC & R.A.8353)(PERSONS)',
 'CONSUMATED ROBBERY(PROPERTY)',
 'CONSUMATED THEFT(PROPERTY)',
 'FRUSTRATED HOMICIDE(PERSONS)',
 'FRUSTRATED MURDER(PERSONS)',
 'QUALIFIED THEFT(PROPERTY)',
 'SERIOUS PHYSICAL INJURIES(PERSONS)',
 'Grand Total']

In [91]:
# Adds column names instead of being the first row
df_pnp_cols[0] = 'brgy'
df_pnp.columns = df_pnp_cols
df_pnp.drop(0,inplace = True)

#resets the index for the rows and drops the 'index' column that was generated
df_pnp = df_pnp.reset_index()
df_pnp.drop('index', axis = 1, inplace = True)

#drop the summary at the bottom
df_pnp.drop(df_pnp.index[188:], inplace= True)

#Format the barangay to be just numbers
df_pnp['brgy'] = df_pnp['brgy'].apply(lambda x : int(x.split()[1]))

#fills all the NaN with 0
df_pnp = df_pnp.fillna(0)
df_pnp.head()

,brgy,ATTEMPTED HOMICIDE(PERSONS),ATTEMPTED MURDER(PERSONS),ATTEMPTED PARRICIDE(PERSONS),ATTEMPTED RAPE (Art. 266-A RC & R.A.8353)(PERSONS),ATTEMPTED ROBBERY(PROPERTY),ATTEMPTED THEFT(PROPERTY),CONSUMATED ANTI-CARNAPPING ACT (R.A. 6539) MC(SPECIAL LAWS),CONSUMATED ANTI-CARNAPPING ACT (R.A. 6539) MV(SPECIAL LAWS),CONSUMATED HOMICIDE(PERSONS),CONSUMATED MURDER(PERSONS),CONSUMATED PHYSICAL INJURIES(PERSONS),CONSUMATED RAPE (Art. 266-A RC & R.A.8353)(PERSONS),CONSUMATED ROBBERY(PROPERTY),CONSUMATED THEFT(PROPERTY),FRUSTRATED HOMICIDE(PERSONS),FRUSTRATED MURDER(PERSONS),QUALIFIED THEFT(PROPERTY),SERIOUS PHYSICAL INJURIES(PERSONS),Grand Total
0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
1,10,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,0,0,0,3
2,100,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,2
3,101,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,2
4,103,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1

,Row Labels,ATTEMPTED HOMICIDE(PERSONS),ATTEMPTED MURDER(PERSONS),ATTEMPTED PARRICIDE(PERSONS),ATTEMPTED RAPE (Art. 266-A RC & R.A.8353)(PERSONS),ATTEMPTED ROBBERY(PROPERTY),ATTEMPTED THEFT(PROPERTY),CONSUMATED ANTI-CARNAPPING ACT (R.A. 6539) MC(SPECIAL LAWS),CONSUMATED ANTI-CARNAPPING ACT (R.A. 6539) MV(SPECIAL LAWS),CONSUMATED HOMICIDE(PERSONS),CONSUMATED MURDER(PERSONS),CONSUMATED PHYSICAL INJURIES(PERSONS),CONSUMATED RAPE (Art. 266-A RC & R.A.8353)(PERSONS),CONSUMATED ROBBERY(PROPERTY),CONSUMATED THEFT(PROPERTY),FRUSTRATED HOMICIDE(PERSONS),FRUSTRATED MURDER(PERSONS),QUALIFIED THEFT(PROPERTY),SERIOUS PHYSICAL INJURIES(PERSONS),Grand Total
183,Barangay 95,1,0,0,0,0,0,0,0,1,1,1,0,0,1,0,1,0,0,6
184,Barangay 96,0,0,0,0,0,0,1,0,0,2,0,0,3,4,0,0,0,0,10
185,Barangay 97,0,0,0,0,0,0,1,1,0,1,2,0,2,31,0,2,0,0,40
186,Barangay 98,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,2
187,Barangay 99,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,2

In [32]:
df_pnp_cols = df_pnp.columns
df_pnp_cols

Index(['Row Labels', 'ATTEMPTED HOMICIDE(PERSONS)',
       'ATTEMPTED MURDER(PERSONS)', 'ATTEMPTED PARRICIDE(PERSONS)',
       'ATTEMPTED RAPE (Art. 266-A RC & R.A.8353)(PERSONS)',
       'ATTEMPTED ROBBERY(PROPERTY)', 'ATTEMPTED THEFT(PROPERTY)',
       'CONSUMATED ANTI-CARNAPPING ACT (R.A. 6539) MC(SPECIAL LAWS)',
       'CONSUMATED ANTI-CARNAPPING ACT (R.A. 6539) MV(SPECIAL LAWS)',
       'CONSUMATED HOMICIDE(PERSONS)', 'CONSUMATED MURDER(PERSONS)',
       'CONSUMATED PHYSICAL INJURIES(PERSONS)',
       'CONSUMATED RAPE (Art. 266-A RC & R.A.8353)(PERSONS)',
       'CONSUMATED ROBBERY(PROPERTY)', 'CONSUMATED THEFT(PROPERTY)',
       'FRUSTRATED HOMICIDE(PERSONS)', 'FRUSTRATED MURDER(PERSONS)',
       'QUALIFIED THEFT(PROPERTY)', 'SERIOUS PHYSICAL INJURIES(PERSONS)',
       'Grand Total'],
      dtype='object', name=0)

In [187]:
df_brgy = pd.read_csv('brgy_lat_long.csv')
df_brgy.tail()

     brgy        lat        long
115   118  14.539111  121.003763
116   119  14.539142  121.004659
117   114  14.542781  121.005197
118   108  14.547621  121.003046
119   115  14.541488  121.005197

In [181]:
140 in df_brgy['brgy']

False

In [202]:
def create_data_list(dframe, col_ref):
    data_list = []
    for i in range(len(dframe)):
        brgy = dframe['brgy'].iloc[i]
        val = dframe[col_ref].iloc[i]
        if int(val) > 0:
            #remove if statement when all latloc is complete
            if brgy<120:
                #print(brgy, val, df_brgy[df_brgy['brgy']==brgy]['lat'].values, df_brgy[df_brgy['brgy']==brgy]['long'].values)
                #temp.append(val)
                #temp.append(df_brgy[df_brgy['brgy']==brgy]['lat'].values)
                #temp.append(df_brgy[df_brgy['brgy']==brgy]['long'].values)
                data_list.append([df_brgy[df_brgy['brgy']==brgy]['lat'].values[0], df_brgy[df_brgy['brgy']==brgy]['long'].values[0],val])
    return data_list

ndata = create_data_list(df_pnp, 'CONSUMATED THEFT(PROPERTY)')
len(ndata[0])

3

In [197]:
pasay_map = folium.Map(location=[14.550070, 120.9938], width=750, height=600, zoom_start = 14)
HeatMap(ndata).add_to(pasay_map)
pasay_map

RecursionError: maximum recursion depth exceeded

In [201]:
data2 = (
    np.random.normal(size=(100, 3)) *
    np.array([[1, 1, 1]]) +
    np.array([[48, 5, 1]])
).tolist()
len(data2[0])

3